
<header >
<div class="row">
    
      
    <div class="col-md-12">
      <img src="assets/img/header-bg-1.png" alt="header" title="header" class="bg"/>
      <img src="assets/img/0-fundamentals-logos-bayer-rgb.png" alt="project" title="project" class="logos" />
      <img src="assets/img/rapid-screening-reverse.png" alt="rapit" class="rapid">
      <a href="httpts:" target="_blank" class=" lag">logout <span class="glyphicon glyphicon-modal-window"></span></a>
      <div class="dropdown">
        <p class="glyphicon glyphicon-user user dropdown-toggle"  data-toggle="dropdown">:Pranjal(user)
        <span class="caret"></span></p>
        <ul class="dropdown-menu">
          <li><a href="#"> Pranjal(admin)</a></li>
        </ul>
      </div>
     
    </div>
    
</div>  
<div class="row" id="hd">
    <div class="col-md-12" style="padding-top: 15px;">
    <div class="topnav">
        <a  href="#"><i  class="fa fa-fw fa-home "></i></a>
        <a href="#order" >Order</a>
        <a class="active" href="#register">Register plate</a>
        <a href="#search">Search plate</a>
        <a href="#fao">FAO</a>
        <a href="#hogo">HOGO</a>

        <img src="assets/img/search.png" id="imgi" alt="search">
      </div>
    </div>
</div>
       
</header>

