<div class="row" >
  <div class="container" style="margin-right:100px; " >
<app-header></app-header>
<h4 style="padding-left: 120px;">// Register Plate</h4>
<div class="row" id="padd">
  <div class="col-md-12"  id="dash">
<div class="boder">
  <img src="assets/img/placeholder.png" alt="placeholder">
  <div class="row button">
  <button type="button" class="btn btn-success">platform</button>
</div>
</div>
<div class="boder">
  <img src="assets/img/placeholder.png" alt="placeholder">
  <div class="row button">
  <button type="button" class="btn btn-success">platform</button>
</div>
</div>
<div class="boder">
  <img src="assets/img/placeholder.png" alt="placeholder">
  <div class="row button">
  <button type="button" class="btn btn-success">platform</button>
  </div>
</div>
</div>
</div>
<app-footer></app-footer>
</div>
</div>
